<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InterfaceOpacity</key>
	<integer>1</integer>
	<key>IsLeftHanded</key>
	<true/>
	<key>IsAccMode</key>
	<false/>
	<key>PpmPolarityIsNegative</key>
	<false/>
	<key>IsHeadFreeMode</key>
	<false/>
	<key>IsAltHoldMode</key>
	<false/>
	<key>IsBeginnerMode</key>
	<true/>
	<key>IsAutoAltHoldMode</key>
	<false/>
	<key>AileronDeadBand</key>
	<real>0.12</real>
	<key>ElevatorDeadBand</key>
	<real>0.12</real>
	<key>RudderDeadBand</key>
	<real>0.166667</real>
	<key>TakeOffThrottle</key>
	<real>0.2</real>
	<key>Channels</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Aileron</string>
			<key>IsReversed</key>
			<false/>
			<key>TrimValue</key>
			<integer>0</integer>
			<key>OutputAdjustableRange</key>
			<integer>1</integer>
			<key>DefaultOutputValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Elevator</string>
			<key>IsReversed</key>
			<false/>
			<key>TrimValue</key>
			<integer>0</integer>
			<key>OutputAdjustableRange</key>
			<integer>1</integer>
			<key>DefaultOutputValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rudder</string>
			<key>IsReversed</key>
			<false/>
			<key>TrimValue</key>
			<integer>0</integer>
			<key>OutputAdjustableRange</key>
			<integer>1</integer>
			<key>DefaultOutputValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Throttle</string>
			<key>IsReversed</key>
			<false/>
			<key>TrimValue</key>
			<integer>0</integer>
			<key>OutputAdjustableRange</key>
			<integer>1</integer>
			<key>DefaultOutputValue</key>
			<real>-1</real>
		</dict>
		<dict>
			<key>Name</key>
			<string>AUX1</string>
			<key>IsReversed</key>
			<false/>
			<key>TrimValue</key>
			<integer>0</integer>
			<key>OutputAdjustableRange</key>
			<integer>1</integer>
			<key>DefaultOutputValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>AUX2</string>
			<key>IsReversed</key>
			<false/>
			<key>TrimValue</key>
			<integer>0</integer>
			<key>OutputAdjustableRange</key>
			<integer>1</integer>
			<key>DefaultOutputValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>AUX3</string>
			<key>IsReversed</key>
			<false/>
			<key>TrimValue</key>
			<integer>0</integer>
			<key>OutputAdjustableRange</key>
			<integer>1</integer>
			<key>DefaultOutputValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>AUX4</string>
			<key>IsReversed</key>
			<false/>
			<key>TrimValue</key>
			<integer>0</integer>
			<key>OutputAdjustableRange</key>
			<integer>1</integer>
			<key>DefaultOutputValue</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>FlexbotVersion</key>
	<string>1.0.0</string>
	<key>AppVersion</key>
	<string>1.0.0</string>
	<key>CommunicationType</key>
	<string>BLE</string>
	<key>SettingsVersion</key>
	<string>1.5.0</string>
	<key>IsFirstRun</key>
	<true/>
	<key>ControlMode</key>
	<string>Free</string>
</dict>
</plist>
